
body {
    margin: 0px;
    font-family: 'Merriweather', serif;
    text-align: center;
}

h1 {
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #EAF9F5;
    position: relative;
    padding: 100px;

}

.bottom-cloud {
    position: absolute;
    bottom: 400px;
}

.top-cloud {
    position: absolute;
    right: 400px;
    top: 50px;
}